<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}

</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <!--  Scripts-->
    <script src="{{ asset('js/all.js') }}"></script>
{% endblock %}
</body>
</html>
